*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

button{
	padding: 2px;
}

#wrapper{
	width: 888px;
	margin: 0 auto;
	
}

#act{
	height: 300px;
	border: 1px solid black;
	overflow: scroll;
}

.bldgs{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

.green{
	color: green;
}

.red{
	color: red;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}




